page-game {
.img-select{
    text-align: center;
    img{
        max-height:250px;
    }
}
.wordscls{
    justify-content: center;
}
.exitoMg{
    background-color: rgba(165,234,131,0.71)
}
.errorMg{
    $toast-md-title-color:rgb(237,25,36);
    color: rgb(237, 28, 36);
    .toast-wrapper{
        background-color:  rgba(237, 28, 36, 0.65);
    }
   
}
ion-footer{
    .toolbar-background-md{
    background-color: white !important;
    }
    .item-md.item-block .item-inner{
        border-bottom: 0ch;
    }
   
    .small-text {
        font-size: 10px;
      }
    .range-md .range-slider{
        height: 40px;
        z-index: -1;
    }
    .range-md .range-bar{
      border-radius: 5px;
    }
    
}
.button-md{
    color: #000000;
}
.colend{
    text-align: center;
    h1{
        color: #676767;            
    }
    h2{
        color: #000000;
    }
}
}
