page-contact {

    ion-col{
        text-align: center;
    }
    ion-grid{
        margin-top: 3em;
    }
    .button-md{
        border-radius: 30pt;
        height: 40pt;
        width: 80%;
    }
    h1{
       margin-bottom: 2em;
    }
    h3{
        margin-bottom: 2em;
    }
}
