page-game2 {
    ion-footer{
        .toolbar-background-md{
        background-color: white !important;
        }
        .item-md.item-block .item-inner{
            border-bottom: 0ch;
        }
        .range-md .range-slider{
            height: 40px;
            z-index: -1;
        }
        .range-md .range-bar{
          border-radius: 5px;
        }
        
    }
    h1{
        text-align: center;
        color: #662D91;
    }
    .button-outline-md{
        height: 120px;
        border-color:  #662D91;
    }
    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    
    
}
