<!--
  Generated template for the Game2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ item.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-fab top left *ngIf="(words+1)!=11" >
        <button ion-fab color="{{ color }}" >{{ words + 1 }} </button>      
    </ion-fab>
<div [ngSwitch]="words">
  <div *ngFor="let it of games; let i=index">
    <div *ngIf="i<limitto">
      <ion-grid *ngSwitchCase="i">
        <ion-row align-items-center>          
          <ion-col>
            <div *ngFor="let opt of it.listOption">
              <h1 *ngIf="opt.isCorrect && !issing">{{ opt.answer.titlek }}</h1>
              <h1 *ngIf="opt.isCorrect && issing">  <ion-icon name="md-megaphone"></ion-icon></h1>
            </div>            
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-6 *ngFor="let opts of it.listOption" >
            <button ion-button outline (click)= "elegiroption(opts.isCorrect)" >
              <img src="{{ opts.answer.icon}}" style="max-width: 80%"  >
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title>
        <ion-item>
          <ion-range min="1" max="{{ limitto }}" step="1" [(ngModel)]="words" color="{{ color }}" > 
            <ion-badge range-left color="{{ color }}" >1</ion-badge>
            <ion-badge range-right color="{{ color }}">{{ limitto }}</ion-badge>
          </ion-range>
        </ion-item>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
